@model Domain.Entities.Cart

<div class="d-flex">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-success ms-auto" })

    <div class="navbar-text ms-2">
        <b>Ваша корзина:</b>
        товаров: @Model.Lines.Sum(x => x.Quantity),
        @Model.ComputeTotalValue().ToString("# руб")
    </div>
</div>
