<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        /* Добавлены стили для навигационной панели и тела */
        .navbar {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
            margin-bottom: 20px; /* Добавлен отступ снизу */
        }

        body {
            padding-top: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NikitaStore - онлайн-магазин</a>
            @Html.Action("Summary", "Cart")
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="categories" class="col-md-3">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
